* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 16px;
}

.center-text {
  text-align: center;
}

.object-fit {
  object-fit: cover;
}

.removed {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

.width-auto {
  width: auto;
}
.width-0 {
  width: 2px;
}

.width-1 {
  width: 5px;
}

.width-2 {
  width: 10px;
}

.width-3 {
  width: 25px;
}

.width-4 {
  width: 50px;
}

.width-5 {
  width: 75px;
}

.width-6 {
  width: 100px;
}

.width-7 {
  width: 150px;
}

.width-8 {
  width: 250px;
}

.width-9 {
  width: 500px;
}

.width-10 {
  width: 1000px;
}

.percent-width-0 {
  width: 2%;
}

.percent-width-1 {
  width: 5%;
}

.percent-width-2 {
  width: 10%;
}

.percent-width-3 {
  width: 15%;
}

.percent-width-4 {
  width: 20%;
}

.percent-width-5 {
  width: 25%;
}

.percent-width-6 {
  width: 35%;
}

.percent-width-7 {
  width: 50%;
}

.percent-width-8 {
  width: 60%;
}

.percent-width-9 {
  width: 75%;
}

.percent-width-10 {
  width: 100%;
}

.height-auto {
  height: auto;
}

.height-0 {
  height: 2px;
}

.height-1 {
  height: 5px;
}

.height-2 {
  height: 10px;
}

.height-3 {
  height: 25px;
}

.height-4 {
  height: 50px;
}

.height-5 {
  height: 75px;
}

.height-6 {
  height: 100px;
}

.height-7 {
  height: 150px;
}

.height-8 {
  height: 250px;
}

.height-9 {
  height: 500px;
}

.height-10 {
  height: 1000px;
}

.percent-height-0 {
  height: 2%;
}

.percent-height-1 {
  height: 5%;
}

.percent-height-2 {
  height: 10%;
}

.percent-height-3 {
  height: 15%;
}

.percent-height-4 {
  height: 20%;
}

.percent-height-5 {
  height: 25%;
}

.percent-height-6 {
  height: 35%;
}

.percent-height-7 {
  height: 50%;
}

.percent-height-8 {
  height: 60%;
}

.percent-height-9 {
  height: 75%;
}

.percent-height-10 {
  height: 100%;
}

.text-white {
  color: white;
}

.text-light-gray {
  color: lightgrey;
}

.text-gray {
  color: grey;
}

.text-dark-gray {
  color: rgb(44, 44, 44);
}

.text-black {
  color: rgb(0, 0, 0);
}

.text-light-blue {
  color: lightskyblue;
}

.text-blue {
  color: blue;
}

.text-dark-blue {
  color: darkblue;
}

.text-light-sky-blue {
  color: rgb(179, 225, 243);
}

.text-sky-blue {
  color: skyblue;
}

.text-dark-sky-blue {
  color: rgb(109, 169, 192);
}

.text-light-navy {
  color: rgb(1, 1, 126);
}

.text-navy {
  color: rgb(1, 1, 112);
}

.text-dark-navy {
  color: rgb(0, 0, 58);
}

.text-red {
  color: red;
}

.text-light-red {
  color: rgb(255, 86, 86);
}

.text-dark-red {
  color: rgb(172, 0, 0);
}

.text-yellow {
  color: yellow;
}

.text-light-yellow {
  color: rgb(255, 255, 132);
}

.text-dark-yellow {
  color: rgb(150, 150, 0);
}

.text-green {
  color: green;
}

.text-light-green {
  color: rgb(100, 255, 100);
}

.text-dark-green {
  color: rgb(0, 94, 0);
}

.text-orange {
  color: rgb(255, 115, 0);
}

.text-light-orange {
  color: orange;
}

.text-dark-orange {
  color: rgb(194, 87, 0);
}

.text-brown {
  color: rgb(145, 39, 39);
}

.text-light-brown {
  color: rgb(145, 72, 72);
}

.text-dark-brown {
  color: rgb(68, 16, 16);
}

.text-pink {
  color: rgb(255, 132, 153);
}

.text-light-pink {
  color: pink;
}

.text-dark-pink {
  color: rgb(175, 92, 106);
}

.text-purple {
  color: purple;
}

.text-light-purple {
  color: rgb(124, 64, 124);
}

.text-dark-purple {
  color: rgb(73, 0, 73);
}

.text-beige {
  color: rgb(218, 201, 175);
}

.text-light-beige {
  color: rgb(219, 209, 193);
}

.text-dark-beige {
  color: rgb(198, 170, 146);
}

.text-turquoise {
  color: turquoise;
}

.text-schmutz {
  color: rgb(124, 58, 82);
}

.text-gold {
  color: rgb(255, 200, 0);
}
.text-light-gold {
  color: rgb(255, 223, 0);
}
.text-dark-gold {
  color: rgb(218, 165, 32);
}

.background-white {
  background-color: white;
}

.background-light-gray {
  background-color: lightgrey;
}

.background-gray {
  background-color: grey;
}

.background-dark-gray {
  background-color: rgb(44, 44, 44);
}

.background-black {
  background-color: rgb(0, 0, 0);
}

.background-light-blue {
  background-color: lightskyblue;
}

.background-blue {
  background-color: blue;
}

.background-dark-blue {
  background-color: darkblue;
}

.background-light-sky-blue {
  background-color: rgb(179, 225, 243);
}

.background-sky-blue {
  background-color: skyblue;
}

.background-dark-sky-blue {
  background-color: rgb(109, 169, 192);
}

.background-light-navy {
  background-color: rgb(1, 1, 126);
}

.background-navy {
  background-color: rgb(1, 1, 112);
}

.background-dark-navy {
  background-color: rgb(0, 0, 58);
}

.background-red {
  background-color: red;
}

.background-light-red {
  background-color: rgb(255, 86, 86);
}

.background-dark-red {
  background-color: rgb(172, 0, 0);
}

.background-yellow {
  background-color: yellow;
}

.background-light-yellow {
  background-color: rgb(255, 255, 132);
}

.background-dark-yellow {
  background-color: rgb(150, 150, 0);
}

.background-green {
  background-color: green;
}

.background-light-green {
  background-color: rgb(100, 255, 100);
}

.background-dark-green {
  background-color: rgb(0, 94, 0);
}

.background-orange {
  background-color: rgb(255, 115, 0);
}

.background-light-orange {
  background-color: orange;
}

.background-dark-orange {
  background-color: rgb(194, 87, 0);
}

.background-brown {
  background-color: rgb(145, 39, 39);
}

.background-light-brown {
  background-color: rgb(145, 72, 72);
}

.background-dark-brown {
  background-color: rgb(68, 16, 16);
}

.background-pink {
  background-color: rgb(255, 132, 153);
}

.background-light-pink {
  background-color: pink;
}

.background-dark-pink {
  background-color: rgb(175, 92, 106);
}

.background-purple {
  background-color: purple;
}

.background-light-purple {
  background-color: rgb(124, 64, 124);
}

.background-dark-purple {
  background-color: rgb(73, 0, 73);
}

.background-beige {
  background-color: rgb(218, 201, 175);
}

.background-light-beige {
  background-color: rgb(219, 209, 193);
}

.background-dark-beige {
  background-color: rgb(198, 170, 146);
}

.background-turquoise {
  background-color: turquoise;
}

.background-schmutz {
  background-color: rgb(124, 58, 82);
}

.background-gold {
  background-color: rgb(255, 200, 0);
}
.background-light-gold {
  background-color: rgb(255, 223, 0);
}
.background-dark-gold {
  background-color: rgb(204, 154, 26);
}

.opaque-0 {
  opacity: 0.98;
}

.opaque-1 {
  opacity: 0.95;
}

.opaque-2 {
  opacity: 0.9;
}

.opaque-3 {
  opacity: 0.8;
}

.opaque-4 {
  opacity: 0.6;
}

.opaque-5 {
  opacity: 0.5;
}

.opaque-6 {
  opacity: 0.4;
}

.opaque-7 {
  opacity: 0.2;
}

.opaque-8 {
  opacity: 0.1;
}

.opaque-9 {
  opacity: 0.05;
}

.opaque-10 {
  opacity: 0;
}

.padding-0 {
  padding: 2px;
}

.padding-1 {
  padding: 5px;
}

.padding-2 {
  padding: 10px;
}

.padding-3 {
  padding: 15px;
}

.padding-4 {
  padding: 25px;
}

.padding-5 {
  padding: 40px;
}

.padding-6 {
  padding: 60px;
}

.padding-7 {
  padding: 80px;
}

.padding-8 {
  padding: 100px;
}

.padding-9 {
  padding: 125px;
}

.padding-10 {
  padding: 150px;
}

.vertical-padding-0 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.vertical-padding-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.vertical-padding-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-padding-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.vertical-padding-4 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.vertical-padding-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.vertical-padding-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vertical-padding-7 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.vertical-padding-8 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vertical-padding-9 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.vertical-padding-10 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.horizontal-padding-0 {
  padding-left: 2px;
  padding-right: 2px;
}

.horizontal-padding-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.horizontal-padding-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.horizontal-padding-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.horizontal-padding-4 {
  padding-left: 25px;
  padding-right: 25px;
}

.horizontal-padding-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.horizontal-padding-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.horizontal-padding-7 {
  padding-left: 80px;
  padding-right: 80px;
}

.horizontal-padding-8 {
  padding-left: 100px;
  padding-right: 100px;
}

.horizontal-padding-9 {
  padding-left: 125px;
  padding-right: 125px;
}

.horizontal-padding-10 {
  padding-left: 150px;
  padding-right: 150px;
}

.top-padding-0 {
  padding-top: 2px;
}

.top-padding-1 {
  padding-top: 5px;
}

.top-padding-2 {
  padding-top: 10px;
}

.top-padding-3 {
  padding-top: 15px;
}

.top-padding-4 {
  padding-top: 25px;
}

.top-padding-5 {
  padding-top: 40px;
}

.top-padding-6 {
  padding-top: 60px;
}

.top-padding-7 {
  padding-top: 80px;
}

.top-padding-8 {
  padding-top: 100px;
}

.top-padding-9 {
  padding-top: 125px;
}

.top-padding-10 {
  padding-top: 150px;
}

.bottom-padding-0 {
  padding-bottom: 2px;
}

.bottom-padding-1 {
  padding-bottom: 5px;
}

.bottom-padding-2 {
  padding-bottom: 10px;
}

.bottom-padding-3 {
  padding-bottom: 15px;
}

.bottom-padding-4 {
  padding-bottom: 25px;
}

.bottom-padding-5 {
  padding-bottom: 40px;
}

.bottom-padding-6 {
  padding-bottom: 60px;
}

.bottom-padding-7 {
  padding-bottom: 80px;
}

.bottom-padding-8 {
  padding-bottom: 100px;
}

.bottom-padding-9 {
  padding-bottom: 125px;
}

.bottom-padding-10 {
  padding-bottom: 150px;
}

.right-padding-0 {
  padding-right: 2px;
}

.right-padding-1 {
  padding-right: 5px;
}

.right-padding-2 {
  padding-right: 10px;
}

.right-padding-3 {
  padding-right: 15px;
}

.right-padding-4 {
  padding-right: 25px;
}

.right-padding-5 {
  padding-right: 40px;
}

.right-padding-6 {
  padding-right: 60px;
}

.right-padding-7 {
  padding-right: 80px;
}

.right-padding-8 {
  padding-right: 100px;
}

.right-padding-9 {
  padding-right: 125px;
}

.right-padding-10 {
  padding-right: 150px;
}

.left-padding-0 {
  padding-left: 2px;
}

.left-padding-1 {
  padding-left: 5px;
}

.left-padding-2 {
  padding-left: 10px;
}

.left-padding-3 {
  padding-left: 15px;
}

.left-padding-4 {
  padding-left: 25px;
}

.left-padding-5 {
  padding-left: 40px;
}

.left-padding-6 {
  padding-left: 60px;
}

.left-padding-7 {
  padding-left: 80px;
}

.left-padding-8 {
  padding-left: 100px;
}

.left-padding-9 {
  padding-left: 125px;
}

.left-padding-10 {
  padding-left: 150px;
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 2px;
}

.margin-1 {
  margin: 5px;
}

.margin-2 {
  margin: 10px;
}

.margin-3 {
  margin: 15px;
}

.margin-4 {
  margin: 25px;
}

.margin-5 {
  margin: 40px;
}

.margin-6 {
  margin: 60px;
}

.margin-7 {
  margin: 80px;
}

.margin-8 {
  margin: 100px;
}

.margin-9 {
  margin: 125px;
}

.margin-10 {
  margin: 150px;
}

.vertical-margin-0 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.vertical-margin-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vertical-margin-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-margin-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vertical-margin-4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.vertical-margin-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.vertical-margin-6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.vertical-margin-7 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.vertical-margin-8 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.vertical-margin-9 {
  margin-top: 125px;
  margin-bottom: 125px;
}

.vertical-margin-10 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.horizontal-margin-0 {
  margin-left: 2px;
  margin-right: 2px;
}

.horizontal-margin-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.horizontal-margin-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.horizontal-margin-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.horizontal-margin-4 {
  margin-left: 25px;
  margin-right: 25px;
}

.horizontal-margin-5 {
  margin-left: 40px;
  margin-right: 40px;
}

.horizontal-margin-6 {
  margin-left: 60px;
  margin-right: 60px;
}

.horizontal-margin-7 {
  margin-left: 80px;
  margin-right: 80px;
}

.horizontal-margin-8 {
  margin-left: 100px;
  margin-right: 100px;
}

.horizontal-margin-9 {
  margin-left: 125px;
  margin-right: 125px;
}

.horizontal-margin-10 {
  margin-left: 150px;
  margin-right: 150px;
}

.top-margin-0 {
  margin-top: 2px;
}

.top-margin-1 {
  margin-top: 5px;
}

.top-margin-2 {
  margin-top: 10px;
}

.top-margin-3 {
  margin-top: 15px;
}

.top-margin-4 {
  margin-top: 25px;
}

.top-margin-5 {
  margin-top: 40px;
}

.top-margin-6 {
  margin-top: 60px;
}

.top-margin-7 {
  margin-top: 80px;
}

.top-margin-8 {
  margin-top: 100px;
}

.top-margin-9 {
  margin-top: 125px;
}

.top-margin-10 {
  margin-top: 150px;
}

.bottom-margin-0 {
  margin-bottom: 2px;
}

.bottom-margin-1 {
  margin-bottom: 5px;
}

.bottom-margin-2 {
  margin-bottom: 10px;
}

.bottom-margin-3 {
  margin-bottom: 15px;
}

.bottom-margin-4 {
  margin-bottom: 25px;
}

.bottom-margin-5 {
  margin-bottom: 40px;
}

.bottom-margin-6 {
  margin-bottom: 60px;
}

.bottom-margin-7 {
  margin-bottom: 80px;
}

.bottom-margin-8 {
  margin-bottom: 100px;
}

.bottom-margin-9 {
  margin-bottom: 125px;
}

.bottom-margin-10 {
  margin-bottom: 150px;
}

.right-margin-0 {
  margin-right: 2px;
}

.right-margin-1 {
  margin-right: 5px;
}

.right-margin-2 {
  margin-right: 10px;
}

.right-margin-3 {
  margin-right: 15px;
}

.right-margin-4 {
  margin-right: 25px;
}

.right-margin-5 {
  margin-right: 40px;
}

.right-margin-6 {
  margin-right: 60px;
}

.right-margin-7 {
  margin-right: 80px;
}

.right-margin-8 {
  margin-right: 100px;
}

.right-margin-9 {
  margin-right: 125px;
}

.right-margin-10 {
  margin-right: 150px;
}

.left-margin-0 {
  margin-left: 2px;
}

.left-margin-1 {
  margin-left: 5px;
}

.left-margin-2 {
  margin-left: 10px;
}

.left-margin-3 {
  margin-left: 15px;
}

.left-margin-4 {
  margin-left: 25px;
}

.left-margin-5 {
  margin-left: 40px;
}

.left-margin-6 {
  margin-left: 60px;
}

.left-margin-7 {
  margin-left: 80px;
}

.left-margin-8 {
  margin-left: 100px;
}

.left-margin-9 {
  margin-left: 125px;
}

.left-margin-10 {
  margin-left: 150px;
}

.percent-padding-0 {
  padding: 2%;
}

.percent-padding-1 {
  padding: 5%;
}

.percent-padding-2 {
  padding: 10%;
}

.percent-padding-3 {
  padding: 15%;
}

.percent-padding-4 {
  padding: 20%;
}

.percent-padding-5 {
  padding: 25%;
}

.percent-padding-6 {
  padding: 30%;
}

.percent-padding-7 {
  padding: 40%;
}

.percent-padding-8 {
  padding: 50%;
}

.percent-padding-9 {
  padding: 75%;
}

.percent-padding-10 {
  padding: 100%;
}

.percent-vertical-padding-0 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.percent-vertical-padding-1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.percent-vertical-padding-2 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.percent-vertical-padding-3 {
  padding-top: 15%;
  padding-bottom: 15%;
}

.percent-vertical-padding-4 {
  padding-top: 20%;
  padding-bottom: 20%;
}

.percent-vertical-padding-5 {
  padding-top: 25%;
  padding-bottom: 25%;
}

.percent-vertical-padding-6 {
  padding-top: 30%;
  padding-bottom: 30%;
}

.percent-vertical-padding-7 {
  padding-top: 40%;
  padding-bottom: 40%;
}

.percent-vertical-padding-8 {
  padding-top: 50%;
  padding-bottom: 50%;
}

.percent-vertical-padding-9 {
  padding-top: 75%;
  padding-bottom: 75%;
}

.percent-vertical-padding-10 {
  padding-top: 100%;
  padding-bottom: 100%;
}

.percent-horizontal-padding-0 {
  padding-left: 2%;
  padding-right: 2%;
}

.percent-horizontal-padding-1 {
  padding-left: 5%;
  padding-right: 5%;
}

.percent-horizontal-padding-2 {
  padding-left: 10%;
  padding-right: 10%;
}

.percent-horizontal-padding-3 {
  padding-left: 15%;
  padding-right: 15%;
}

.percent-horizontal-padding-4 {
  padding-left: 20%;
  padding-right: 20%;
}

.percent-horizontal-padding-5 {
  padding-left: 25%;
  padding-right: 25%;
}

.percent-horizontal-padding-6 {
  padding-left: 30%;
  padding-right: 30%;
}

.percent-horizontal-padding-7 {
  padding-left: 40%;
  padding-right: 40%;
}

.percent-horizontal-padding-8 {
  padding-left: 50%;
  padding-right: 50%;
}

.percent-horizontal-padding-9 {
  padding-left: 75%;
  padding-right: 75%;
}

.percent-horizontal-padding-10 {
  padding-left: 100%;
  padding-right: 100%;
}

.percent-top-padding-0 {
  padding-top: 2%;
}

.percent-top-padding-1 {
  padding-top: 5%;
}

.percent-top-padding-2 {
  padding-top: 10%;
}

.percent-top-padding-3 {
  padding-top: 15%;
}

.percent-top-padding-4 {
  padding-top: 20%;
}

.percent-top-padding-5 {
  padding-top: 25%;
}

.percent-top-padding-6 {
  padding-top: 30%;
}

.percent-top-padding-7 {
  padding-top: 40%;
}

.percent-top-padding-8 {
  padding-top: 50%;
}

.percent-top-padding-9 {
  padding-top: 75%;
}

.percent-top-padding-10 {
  padding-top: 100%;
}

.percent-bottom-padding-0 {
  padding-bottom: 2%;
}

.percent-bottom-padding-1 {
  padding-bottom: 5%;
}

.percent-bottom-padding-2 {
  padding-bottom: 10%;
}

.percent-bottom-padding-3 {
  padding-bottom: 15%;
}

.percent-bottom-padding-4 {
  padding-bottom: 20%;
}

.percent-bottom-padding-5 {
  padding-bottom: 25%;
}

.percent-bottom-padding-6 {
  padding-bottom: 30%;
}

.percent-bottom-padding-7 {
  padding-bottom: 40%;
}

.percent-bottom-padding-8 {
  padding-bottom: 50%;
}

.percent-bottom-padding-9 {
  padding-bottom: 75%;
}

.percent-bottom-padding-10 {
  padding-bottom: 100%;
}

.percent-right-padding-0 {
  padding-right: 2%;
}

.percent-right-padding-1 {
  padding-right: 5%;
}

.percent-right-padding-2 {
  padding-right: 10%;
}

.percent-right-padding-3 {
  padding-right: 15%;
}

.percent-right-padding-4 {
  padding-right: 20%;
}

.percent-right-padding-5 {
  padding-right: 25%;
}

.percent-right-padding-6 {
  padding-right: 30%;
}

.percent-right-padding-7 {
  padding-right: 40%;
}

.percent-right-padding-8 {
  padding-right: 50%;
}

.percent-right-padding-9 {
  padding-right: 75%;
}

.percent-right-padding-10 {
  padding-right: 100%;
}

.percent-left-padding-0 {
  padding-left: 2%;
}

.percent-left-padding-1 {
  padding-left: 5%;
}

.percent-left-padding-2 {
  padding-left: 10%;
}

.percent-left-padding-3 {
  padding-left: 15%;
}

.percent-left-padding-4 {
  padding-left: 20%;
}

.percent-left-padding-5 {
  padding-left: 25%;
}

.percent-left-padding-6 {
  padding-left: 30%;
}

.percent-left-padding-7 {
  padding-left: 40%;
}

.percent-left-padding-8 {
  padding-left: 50%;
}

.percent-left-padding-9 {
  padding-left: 75%;
}

.percent-left-padding-10 {
  padding-left: 100%;
}

.percent-margin-0 {
  margin: 2%;
}

.percent-margin-1 {
  margin: 5%;
}

.percent-margin-2 {
  margin: 10%;
}

.percent-margin-3 {
  margin: 15%;
}

.percent-margin-4 {
  margin: 20%;
}

.percent-margin-5 {
  margin: 25%;
}

.percent-margin-6 {
  margin: 30%;
}

.percent-margin-7 {
  margin: 40%;
}

.percent-margin-8 {
  margin: 50%;
}

.percent-margin-9 {
  margin: 75%;
}

.percent-margin-10 {
  margin: 100%;
}

.percent-vertical-margin-0 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.percent-vertical-margin-1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.percent-vertical-margin-2 {
  margin-top: 10%;
  margin-bottom: 10%;
}

.percent-vertical-margin-3 {
  margin-top: 15%;
  margin-bottom: 15%;
}

.percent-vertical-margin-4 {
  margin-top: 20%;
  margin-bottom: 20%;
}

.percent-vertical-margin-5 {
  margin-top: 25%;
  margin-bottom: 25%;
}

.percent-vertical-margin-6 {
  margin-top: 30%;
  margin-bottom: 30%;
}

.percent-vertical-margin-7 {
  margin-top: 40%;
  margin-bottom: 40%;
}

.percent-vertical-margin-8 {
  margin-top: 50%;
  margin-bottom: 50%;
}

.percent-vertical-margin-9 {
  margin-top: 75%;
  margin-bottom: 75%;
}

.percent-vertical-margin-10 {
  margin-top: 100%;
  margin-bottom: 100%;
}

.percent-horizontal-margin-0 {
  margin-left: 2%;
  margin-right: 2%;
}

.percent-horizontal-margin-1 {
  margin-left: 5%;
  margin-right: 5%;
}

.percent-horizontal-margin-2 {
  margin-left: 10%;
  margin-right: 10%;
}

.percent-horizontal-margin-3 {
  margin-left: 15%;
  margin-right: 15%;
}

.percent-horizontal-margin-4 {
  margin-left: 20%;
  margin-right: 20%;
}

.percent-horizontal-margin-5 {
  margin-left: 25%;
  margin-right: 25%;
}

.percent-horizontal-margin-6 {
  margin-left: 30%;
  margin-right: 30%;
}

.percent-horizontal-margin-7 {
  margin-left: 40%;
  margin-right: 40%;
}

.percent-horizontal-margin-8 {
  margin-left: 50%;
  margin-right: 50%;
}

.percent-horizontal-margin-9 {
  margin-left: 75%;
  margin-right: 75%;
}

.percent-horizontal-margin-10 {
  margin-left: 100%;
  margin-right: 100%;
}

.percent-top-margin-0 {
  margin-top: 2%;
}

.percent-top-margin-1 {
  margin-top: 5%;
}

.percent-top-margin-2 {
  margin-top: 10%;
}

.percent-top-margin-3 {
  margin-top: 15%;
}

.percent-top-margin-4 {
  margin-top: 20%;
}

.percent-top-margin-5 {
  margin-top: 25%;
}

.percent-top-margin-6 {
  margin-top: 30%;
}

.percent-top-margin-7 {
  margin-top: 40%;
}

.percent-top-margin-8 {
  margin-top: 50%;
}

.percent-top-margin-9 {
  margin-top: 75%;
}

.percent-top-margin-10 {
  margin-top: 100%;
}

.percent-bottom-margin-0 {
  margin-bottom: 2%;
}

.percent-bottom-margin-1 {
  margin-bottom: 5%;
}

.percent-bottom-margin-2 {
  margin-bottom: 10%;
}

.percent-bottom-margin-3 {
  margin-bottom: 15%;
}

.percent-bottom-margin-4 {
  margin-bottom: 20%;
}

.percent-bottom-margin-5 {
  margin-bottom: 25%;
}

.percent-bottom-margin-6 {
  margin-bottom: 30%;
}

.percent-bottom-margin-7 {
  margin-bottom: 40%;
}

.percent-bottom-margin-8 {
  margin-bottom: 50%;
}

.percent-bottom-margin-9 {
  margin-bottom: 75%;
}

.percent-bottom-margin-10 {
  margin-bottom: 100%;
}

.percent-right-margin-0 {
  margin-right: 2%;
}

.percent-right-margin-1 {
  margin-right: 5%;
}

.percent-right-margin-2 {
  margin-right: 10%;
}

.percent-right-margin-3 {
  margin-right: 15%;
}

.percent-right-margin-4 {
  margin-right: 20%;
}

.percent-right-margin-5 {
  margin-right: 25%;
}

.percent-right-margin-6 {
  margin-right: 30%;
}

.percent-right-margin-7 {
  margin-right: 40%;
}

.percent-right-margin-8 {
  margin-right: 50%;
}

.percent-right-margin-9 {
  margin-right: 75%;
}

.percent-right-margin-10 {
  margin-right: 100%;
}

.percent-left-margin-0 {
  margin-left: 2%;
}

.percent-left-margin-1 {
  margin-left: 5%;
}

.percent-left-margin-2 {
  margin-left: 10%;
}

.percent-left-margin-3 {
  margin-left: 15%;
}

.percent-left-margin-4 {
  margin-left: 20%;
}

.percent-left-margin-5 {
  margin-left: 25%;
}

.percent-left-margin-6 {
  margin-left: 30%;
}

.percent-left-margin-7 {
  margin-left: 40%;
}

.percent-left-margin-8 {
  margin-left: 50%;
}

.percent-left-margin-9 {
  margin-left: 75%;
}

.percent-left-margin-10 {
  margin-left: 100%;
}

.fixed-right-0 {
  position: fixed;
  right: 0px;
}

.fixed-right-1 {
  position: fixed;
  right: 2px;
}

.fixed-right-2 {
  position: fixed;
  right: 5px;
}

.fixed-right-3 {
  position: fixed;
  right: 10px;
}

.fixed-right-4 {
  position: fixed;
  right: 20px;
}

.fixed-right-5 {
  position: fixed;
  right: 30px;
}

.fixed-right-6 {
  position: fixed;
  right: 50px;
}

.fixed-right-7 {
  position: fixed;
  right: 75px;
}

.fixed-right-8 {
  position: fixed;
  right: 100px;
}

.fixed-right-9 {
  position: fixed;
  right: 150px;
}

.fixed-right-10 {
  position: fixed;
  right: 200px;
}

.fixed-left-0 {
  position: fixed;
  left: 0px;
}

.fixed-left-1 {
  position: fixed;
  left: 2px;
}

.fixed-left-2 {
  position: fixed;
  left: 5px;
}

.fixed-left-3 {
  position: fixed;
  left: 10px;
}

.fixed-left-4 {
  position: fixed;
  left: 20px;
}

.fixed-left-5 {
  position: fixed;
  left: 30px;
}

.fixed-left-6 {
  position: fixed;
  left: 50px;
}

.fixed-left-7 {
  position: fixed;
  left: 75px;
}

.fixed-left-8 {
  position: fixed;
  left: 100px;
}

.fixed-left-9 {
  position: fixed;
  left: 150px;
}

.fixed-left-10 {
  position: fixed;
  left: 200px;
}

.fixed-top-0 {
  position: fixed;
  top: 0px;
}

.fixed-top-1 {
  position: fixed;
  top: 2px;
}

.fixed-top-2 {
  position: fixed;
  top: 5px;
}

.fixed-top-3 {
  position: fixed;
  top: 10px;
}

.fixed-top-4 {
  position: fixed;
  top: 20px;
}

.fixed-top-5 {
  position: fixed;
  top: 30px;
}

.fixed-top-6 {
  position: fixed;
  top: 50px;
}

.fixed-top-7 {
  position: fixed;
  top: 75px;
}

.fixed-top-8 {
  position: fixed;
  top: 100px;
}

.fixed-top-9 {
  position: fixed;
  top: 150px;
}

.fixed-top-10 {
  position: fixed;
  top: 200px;
}

.fixed-bottom-0 {
  position: fixed;
  bottom: 0px;
}

.fixed-bottom-1 {
  position: fixed;
  bottom: 2px;
}

.fixed-bottom-2 {
  position: fixed;
  bottom: 5px;
}

.fixed-bottom-3 {
  position: fixed;
  bottom: 10px;
}

.fixed-bottom-4 {
  position: fixed;
  bottom: 20px;
}

.fixed-bottom-5 {
  position: fixed;
  bottom: 30px;
}

.fixed-bottom-6 {
  position: fixed;
  bottom: 50px;
}

.fixed-bottom-7 {
  position: fixed;
  bottom: 75px;
}

.fixed-bottom-8 {
  position: fixed;
  bottom: 100px;
}

.fixed-bottom-9 {
  position: fixed;
  bottom: 150px;
}

.fixed-bottom-10 {
  position: fixed;
  bottom: 200px;
}

.percent-fixed-right-0 {
  position: fixed;
  right: 2%;
}

.percent-fixed-right-1 {
  position: fixed;
  right: 5%;
}

.percent-fixed-right-2 {
  position: fixed;
  right: 10%;
}

.percent-fixed-right-3 {
  position: fixed;
  right: 15%;
}

.percent-fixed-right-4 {
  position: fixed;
  right: 20%;
}

.percent-fixed-right-5 {
  position: fixed;
  right: 25%;
}

.percent-fixed-right-6 {
  position: fixed;
  right: 30%;
}

.percent-fixed-right-7 {
  position: fixed;
  right: 40%;
}

.percent-fixed-right-8 {
  position: fixed;
  right: 50%;
}

.percent-fixed-right-9 {
  position: fixed;
  right: 75%;
}

.percent-fixed-right-10 {
  position: fixed;
  right: 100%;
}

.percent-fixed-left-0 {
  position: fixed;
  left: 2%;
}

.percent-fixed-left-1 {
  position: fixed;
  left: 5%;
}

.percent-fixed-left-2 {
  position: fixed;
  left: 10%;
}

.percent-fixed-left-3 {
  position: fixed;
  left: 15%;
}

.percent-fixed-left-4 {
  position: fixed;
  left: 20%;
}

.percent-fixed-left-5 {
  position: fixed;
  left: 25%;
}

.percent-fixed-left-6 {
  position: fixed;
  left: 30%;
}

.percent-fixed-left-7 {
  position: fixed;
  left: 40%;
}

.percent-fixed-left-8 {
  position: fixed;
  left: 50%;
}

.percent-fixed-left-9 {
  position: fixed;
  left: 75%;
}

.percent-fixed-left-10 {
  position: fixed;
  left: 100%;
}

.percent-fixed-top-0 {
  position: fixed;
  top: 2%;
}

.percent-fixed-top-1 {
  position: fixed;
  top: 5%;
}

.percent-fixed-top-2 {
  position: fixed;
  top: 10%;
}

.percent-fixed-top-3 {
  position: fixed;
  top: 15%;
}

.percent-fixed-top-4 {
  position: fixed;
  top: 20%;
}

.percent-fixed-top-5 {
  position: fixed;
  top: 25%;
}

.percent-fixed-top-6 {
  position: fixed;
  top: 30%;
}

.percent-fixed-top-7 {
  position: fixed;
  top: 40%;
}

.percent-fixed-top-8 {
  position: fixed;
  top: 50%;
}

.percent-fixed-top-9 {
  position: fixed;
  top: 75%;
}

.percent-fixed-top-10 {
  position: fixed;
  top: 100%;
}

.percent-fixed-bottom-0 {
  position: fixed;
  bottom: 2%;
}

.percent-fixed-bottom-1 {
  position: fixed;
  bottom: 5%;
}

.percent-fixed-bottom-2 {
  position: fixed;
  bottom: 10%;
}

.percent-fixed-bottom-3 {
  position: fixed;
  bottom: 15%;
}

.percent-fixed-bottom-4 {
  position: fixed;
  bottom: 20%;
}

.percent-fixed-bottom-5 {
  position: fixed;
  bottom: 25%;
}

.percent-fixed-bottom-6 {
  position: fixed;
  bottom: 30%;
}

.percent-fixed-bottom-7 {
  position: fixed;
  bottom: 40%;
}

.percent-fixed-bottom-8 {
  position: fixed;
  bottom: 50%;
}

.percent-fixed-bottom-9 {
  position: fixed;
  bottom: 75%;
}

.percent-fixed-bottom-10 {
  position: fixed;
  bottom: 100%;
}

.absolute-right-0 {
  position: absolute;
  right: 0px;
}

.absolute-right-1 {
  position: absolute;
  right: 2px;
}

.absolute-right-2 {
  position: absolute;
  right: 5px;
}

.absolute-right-3 {
  position: absolute;
  right: 10px;
}

.absolute-right-4 {
  position: absolute;
  right: 20px;
}

.absolute-right-5 {
  position: absolute;
  right: 30px;
}

.absolute-right-6 {
  position: absolute;
  right: 50px;
}

.absolute-right-7 {
  position: absolute;
  right: 75px;
}

.absolute-right-8 {
  position: absolute;
  right: 100px;
}

.absolute-right-9 {
  position: absolute;
  right: 150px;
}

.absolute-right-10 {
  position: absolute;
  right: 200px;
}

.absolute-left-0 {
  position: absolute;
  left: 0px;
}

.absolute-left-1 {
  position: absolute;
  left: 2px;
}

.absolute-left-2 {
  position: absolute;
  left: 5px;
}

.absolute-left-3 {
  position: absolute;
  left: 10px;
}

.absolute-left-4 {
  position: absolute;
  left: 20px;
}

.absolute-left-5 {
  position: absolute;
  left: 30px;
}

.absolute-left-6 {
  position: absolute;
  left: 50px;
}

.absolute-left-7 {
  position: absolute;
  left: 75px;
}

.absolute-left-8 {
  position: absolute;
  left: 100px;
}

.absolute-left-9 {
  position: absolute;
  left: 150px;
}

.absolute-left-10 {
  position: absolute;
  left: 200px;
}

.absolute-top-0 {
  position: absolute;
  top: 0px;
}

.absolute-top-1 {
  position: absolute;
  top: 2px;
}

.absolute-top-2 {
  position: absolute;
  top: 5px;
}

.absolute-top-3 {
  position: absolute;
  top: 10px;
}

.absolute-top-4 {
  position: absolute;
  top: 20px;
}

.absolute-top-5 {
  position: absolute;
  top: 30px;
}

.absolute-top-6 {
  position: absolute;
  top: 50px;
}

.absolute-top-7 {
  position: absolute;
  top: 75px;
}

.absolute-top-8 {
  position: absolute;
  top: 100px;
}

.absolute-top-9 {
  position: absolute;
  top: 150px;
}

.absolute-top-10 {
  position: absolute;
  top: 200px;
}

.absolute-bottom-0 {
  position: absolute;
  bottom: 0px;
}

.absolute-bottom-1 {
  position: absolute;
  bottom: 2px;
}

.absolute-bottom-2 {
  position: absolute;
  bottom: 5px;
}

.absolute-bottom-3 {
  position: absolute;
  bottom: 10px;
}

.absolute-bottom-4 {
  position: absolute;
  bottom: 20px;
}

.absolute-bottom-5 {
  position: absolute;
  bottom: 30px;
}

.absolute-bottom-6 {
  position: absolute;
  bottom: 50px;
}

.absolute-bottom-7 {
  position: absolute;
  bottom: 75px;
}

.absolute-bottom-8 {
  position: absolute;
  bottom: 100px;
}

.absolute-bottom-9 {
  position: absolute;
  bottom: 150px;
}

.absolute-bottom-10 {
  position: absolute;
  bottom: 200px;
}

.percent-absolute-right-0 {
  position: absolute;
  right: 2%;
}

.percent-absolute-right-1 {
  position: absolute;
  right: 5%;
}

.percent-absolute-right-2 {
  position: absolute;
  right: 10%;
}

.percent-absolute-right-3 {
  position: absolute;
  right: 15%;
}

.percent-absolute-right-4 {
  position: absolute;
  right: 20%;
}

.percent-absolute-right-5 {
  position: absolute;
  right: 25%;
}

.percent-absolute-right-6 {
  position: absolute;
  right: 30%;
}

.percent-absolute-right-7 {
  position: absolute;
  right: 40%;
}

.percent-absolute-right-8 {
  position: absolute;
  right: 50%;
}

.percent-absolute-right-9 {
  position: absolute;
  right: 75%;
}

.percent-absolute-right-10 {
  position: absolute;
  right: 100%;
}

.percent-absolute-left-0 {
  position: absolute;
  left: 2%;
}

.percent-absolute-left-1 {
  position: absolute;
  left: 5%;
}

.percent-absolute-left-2 {
  position: absolute;
  left: 10%;
}

.percent-absolute-left-3 {
  position: absolute;
  left: 15%;
}

.percent-absolute-left-4 {
  position: absolute;
  left: 20%;
}

.percent-absolute-left-5 {
  position: absolute;
  left: 25%;
}

.percent-absolute-left-6 {
  position: absolute;
  left: 30%;
}

.percent-absolute-left-7 {
  position: absolute;
  left: 40%;
}

.percent-absolute-left-8 {
  position: absolute;
  left: 50%;
}

.percent-absolute-left-9 {
  position: absolute;
  left: 75%;
}

.percent-absolute-left-10 {
  position: absolute;
  left: 100%;
}

.percent-absolute-top-0 {
  position: absolute;
  top: 2%;
}

.percent-absolute-top-1 {
  position: absolute;
  top: 5%;
}

.percent-absolute-top-2 {
  position: absolute;
  top: 10%;
}

.percent-absolute-top-3 {
  position: absolute;
  top: 15%;
}

.percent-absolute-top-4 {
  position: absolute;
  top: 20%;
}

.percent-absolute-top-5 {
  position: absolute;
  top: 25%;
}

.percent-absolute-top-6 {
  position: absolute;
  top: 30%;
}

.percent-absolute-top-7 {
  position: absolute;
  top: 40%;
}

.percent-absolute-top-8 {
  position: absolute;
  top: 50%;
}

.percent-absolute-top-9 {
  position: absolute;
  top: 75%;
}

.percent-absolute-top-10 {
  position: absolute;
  top: 100%;
}

.percent-absolute-bottom-0 {
  position: absolute;
  bottom: 2%;
}

.percent-absolute-bottom-1 {
  position: absolute;
  bottom: 5%;
}

.percent-absolute-bottom-2 {
  position: absolute;
  bottom: 10%;
}

.percent-absolute-bottom-3 {
  position: absolute;
  bottom: 15%;
}

.percent-absolute-bottom-4 {
  position: absolute;
  bottom: 20%;
}

.percent-absolute-bottom-5 {
  position: absolute;
  bottom: 25%;
}

.percent-absolute-bottom-6 {
  position: absolute;
  bottom: 30%;
}

.percent-absolute-bottom-7 {
  position: absolute;
  bottom: 40%;
}

.percent-absolute-bottom-8 {
  position: absolute;
  bottom: 50%;
}

.percent-absolute-bottom-9 {
  position: absolute;
  bottom: 75%;
}

.percent-absolute-bottom-10 {
  position: absolute;
  bottom: 100%;
}

.z-0 {
  z-index: -10;
}

.z-1 {
  z-index: -5;
}

.z-2 {
  z-index: -1;
}

.z-3 {
  z-index: 0;
}

.z-4 {
  z-index: 1;
}

.z-5 {
  z-index: 2;
}

.z-6 {
  z-index: 50;
}

.z-7 {
  z-index: 51;
}

.z-8 {
  z-index: 52;
}

.z-9 {
  z-index: 100;
}

.z-10 {
  z-index: 101;
}

.flex-up {
  display: flex;
  flex-direction: column-reverse;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.flex-left {
  display: flex;
  flex-direction: row;
}

.flex-right {
  display: flex;
  flex-direction: row-reverse;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-stretch {
  justify-content: stretch;
}

.flex-around {
  justify-content: space-around;
}

.flex-center-items {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
